body {
  background-color: #ffe8d4;
}

.mono {
  font-family: monospace;
}

.navbar {
  border-radius: 0;
}

.notifications {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.shell-window {
  background-color: black;
  padding: 0px 20px 20px 20px;
}

.shell-window .title-bar {
  background-color: blue;
  margin: 0 -20px 20px -20px;
  padding: 10px 20px 1px 20px;
}

.shell-window #submit {
  display: none;
}

.shell-window p {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.shell-window p.color-blue {
  color: #a8a8ff;
}

#cmd_input {
  background-color: transparent;
  border: none;
}

#cmd_input:focus {
  outline: none;
}
