<!DOCTYPE html>
<html lang="en">

<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Gruppe 2</title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index">{{ user }}@Commandy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}
        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="notifications">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

</body>

</html>