{% extends "base.html" %}

{% block content %}
    <h1>Command</h1>
    <form action="" method="get" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.command.label }}<br>
            {{ form.command(size=32) }}<br>
            {% for error in errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% if output %}
      <h2>Console Output:</h2>
      <p>{{ output|safe }}</p>
    {% endif %}
{% endblock %}
